@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans&display=swap");

@tailwind base;
@tailwind utilities;
@tailwind components;

@font-face {
   font-family: "Oceanwide";
   src: url(../fonts/oceanwide-pro/Oceanwide-Semibold.otf);
}

@layer base {
   body {
      @apply bg-cream-pink text-fandago font-nunito;
      --distance: 32px;
      --half-distance: calc(var(--distance) / 2);
      --quarter-distance: calc(var(--distance) / 4);
   }
   .heading-text {
      font-size: 2rem;
   }
   .summary-text {
      font-size: 1rem;
   }
   @media (max-width: 768px) {
      body {
         --distance: 16px;
      }
      .heading-text {
         font-size: 1.4rem;
      }
      .summary-text {
         font-size: 9.5pt;
      }
   }
   main {
      @apply mt-[calc(131px+85px)] max-md:mt-[calc(88px+85px)];
   }
}

@keyframes feature-expand {
   0% {
      transform: scale(0.9);
   }
   50% {
      transform: scale(1.05);
   }
}
