@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans&display=swap");

@tailwind base;
@tailwind utilities;
@tailwind components;

@font-face {
   font-family: "Oceanwide";
   src: url(../fonts/oceanwide-pro/Oceanwide-Semibold.otf);
}

@layer base {
   body {
      @apply bg-cream-pink text-fandago font-nunito;
      --distance: 32px;
      --half-distance: calc(var(--distance) / 2);
      --quarter-distance: calc(var(--distance) / 4);
      --fifth-distance: calc(var(--distance) / 5);
      --sixth-distance: calc(var(--distance) / 6);
      --third-distance: calc(var(--distance) / 3);
      --double-distance: calc(var(--distance) * 2);
      --triple-distance: calc(var(--distance) * 3);
      --quadruple-distance: calc(var(--distance) * 4);
   }
   .heading-text {
      font-size: 2rem;
   }
   .summary-text {
      font-size: 1rem;
   }
   @media (max-width: 912px) {
      body {
         --distance: 19px;
      }
      .heading-text {
         font-size: 1.6rem;
      }
      .summary-text {
         font-size: 9pt;
      }
   }
   @media (max-width: 768px) {
      body {
         --distance: 16px;
      }
      .heading-text {
         font-size: 1.4rem;
      }
      .summary-text {
         font-size: 9.5pt;
      }
   }
   main {
      @apply mt-[calc(120px+85px)] max-md:mt-[calc(88px+85px)] max-sm:mt-[calc(60px+70px)];
   }
}

@keyframes feature-expand {
   0% {
      transform: scale(0.95);
   }
   50% {
      transform: scale(1.02);
   }
}

@keyframes feature-slide-first-item {
   100% {
      transform: translate(-100%);
   }
}

@keyframes item-photo-fade-in {
   0% {
      opacity: 0;
   }
}

.sidebar-enter-active,
.sidebar-leave-active {
   transition-duration: 500ms;
}

.sidebar-enter-from,
.sidebar-leave-to {
   transform: translate(-100%);
}

.scroll-hidden::-webkit-scrollbar {
   display: none;
}
